.cards{ 
	display:grid;
	grid-template-columns: 1fr;
	padding-bottom: 32px;
}

.card{
border: solid #dc143c 5px;
border-radius: 7px;
padding: 3px;
text-align: center;
width: 250px;
box-shadow: #0000006b 0px 0px 4px 1px;
justify-self: center;
background-color: #f2ecda;
}

.card img {
width: 250px;
}

@media (min-width: 580px) {
	.cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
